.positive
    color red
.container
    max-width 1200px
a 
    text-decoration none
    color #222
.center-fx 
    display flex
    justify-content center
    align-items center
.td-name
    display flex
    justify-content flex-basis
    align-items center
    p 
        margin 0
        margin-left 10px