.headerNews 
    display flex
    justify-content flex-start
    align-items center
    @media screen and (max-width: 900px)
        flex-direction column
        img 
            width 100%

.contentHeader 
    width 100%
    height 100%
    padding 20%
    @media screen and (max-width: 900px)
        padding 20px

.bodyTab 
    padding 100px
    line-height 1.8em
    @media screen and (max-width: 900px)
        padding 20px
    
    
