.iconocoin
    // width 36px
    height 40px
.iconocoin-ether
    // width 22px
    height 40px

.card
    height 120px
    display flex
    align-items center


.avatarCoin
    width 35px
    height 35px
    padding 5px
