.single-header
    width 100%
    display flex
    justify-content space-between
    align-items center
    .image-single
        width 100px
        padding 10px
    .symbol-h1
        margin-bottom -5px
    .single-logo
        display flex
        justify-content center
        align-items center
    .single-price
        text-align right
