@font-face 
	font-family "cryptocoins"
	src url('./cryptocoins.woff2') format('woff2'),
    url('./cryptocoins.woff') format('woff'),
    url('./cryptocoins.ttf') format('truetype')
.cc 
	&::before 
		font-family "cryptocoins"
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		font-style normal
		font-variant normal
		font-weight normal
		text-decoration none
		text-transform none
	&.ADA-alt 
		&::before 
			content "\E001"
	&.ADA 
		&::before 
			content "\E002"
	&.ADC-alt 
		&::before 
			content "\E003"
	&.ADC 
		&::before 
			content "\E004"
	&.AEON-alt 
		&::before 
			content "\E005"
	&.AEON 
		&::before 
			content "\E006"
	&.AMP-alt 
		&::before 
			content "\E007"
	&.AMP 
		&::before 
			content "\E008"
	&.ANC-alt 
		&::before 
			content "\E009"
	&.ANC 
		&::before 
			content "\E00A"
	&.ARCH-alt 
		&::before 
			content "\E00B"
	&.ARCH 
		&::before 
			content "\E00C"
	&.ARDR-alt 
		&::before 
			content "\E00D"
	&.ARDR 
		&::before 
			content "\E00E"
	&.ARK-alt 
		&::before 
			content "\E00F"
	&.ARK 
		&::before 
			content "\E010"
	&.AUR-alt 
		&::before 
			content "\E011"
	&.AUR 
		&::before 
			content "\E012"
	&.BANX-alt 
		&::before 
			content "\E013"
	&.BANX 
		&::before 
			content "\E014"
	&.BAT-alt 
		&::before 
			content "\E015"
	&.BAT 
		&::before 
			content "\E016"
	&.BAY-alt 
		&::before 
			content "\E017"
	&.BAY 
		&::before 
			content "\E018"
	&.BC-alt 
		&::before 
			content "\E019"
	&.BC 
		&::before 
			content "\E01A"
	&.BCH-alt 
		&::before 
			content "\E01B"
	&.BCH 
		&::before 
			content "\E01C"
	&.BCN-alt 
		&::before 
			content "\E01D"
	&.BCN 
		&::before 
			content "\E01E"
	&.BFT-alt 
		&::before 
			content "\E01F"
	&.BFT 
		&::before 
			content "\E020"
	&.BRK-alt 
		&::before 
			content "\E021"
	&.BRK 
		&::before 
			content "\E022"
	&.BRX-alt 
		&::before 
			content "\E023"
	&.BRX 
		&::before 
			content "\E024"
	&.BSD-alt 
		&::before 
			content "\E025"
	&.BSD 
		&::before 
			content "\E026"
	&.BTA 
		&::before 
			content "\E027"
	&.BTC-alt 
		&::before 
			content "\E028"
	&.BTC 
		&::before 
			content "\E029"
	&.BTCD-alt 
		&::before 
			content "\E02A"
	&.BTCD 
		&::before 
			content "\E02B"
	&.BTM-alt 
		&::before 
			content "\E02C"
	&.BTM 
		&::before 
			content "\E02D"
	&.BTS-alt 
		&::before 
			content "\E02E"
	&.BTS 
		&::before 
			content "\E02F"
	&.CLAM-alt 
		&::before 
			content "\E030"
	&.CLAM 
		&::before 
			content "\E031"
	&.CLOAK-alt 
		&::before 
			content "\E032"
	&.CLOAK 
		&::before 
			content "\E033"
	&.DAO-alt 
		&::before 
			content "\E034"
	&.DAO 
		&::before 
			content "\E035"
	&.DASH-alt 
		&::before 
			content "\E036"
	&.DASH 
		&::before 
			content "\E037"
	&.DCR-alt 
		&::before 
			content "\E038"
	&.DCR 
		&::before 
			content "\E039"
	&.DCT-alt 
		&::before 
			content "\E03A"
	&.DCT 
		&::before 
			content "\E03B"
	&.DGB-alt 
		&::before 
			content "\E03C"
	&.DGB 
		&::before 
			content "\E03D"
	&.DGD 
		&::before 
			content "\E03E"
	&.DGX 
		&::before 
			content "\E03F"
	&.DMD-alt 
		&::before 
			content "\E040"
	&.DMD 
		&::before 
			content "\E041"
	&.DOGE-alt 
		&::before 
			content "\E042"
	&.DOGE 
		&::before 
			content "\E043"
	&.EMC-alt 
		&::before 
			content "\E044"
	&.EMC 
		&::before 
			content "\E045"
	&.EOS-alt 
		&::before 
			content "\E046"
	&.EOS 
		&::before 
			content "\E047"
	&.ERC-alt 
		&::before 
			content "\E048"
	&.ERC 
		&::before 
			content "\E049"
	&.ETC-alt 
		&::before 
			content "\E04A"
	&.ETC 
		&::before 
			content "\E04B"
	&.ETH-alt 
		&::before 
			content "\E04C"
	&.ETH 
		&::before 
			content "\E04D"
	&.FC2-alt 
		&::before 
			content "\E04E"
	&.FC2 
		&::before 
			content "\E04F"
	&.FCT-alt 
		&::before 
			content "\E050"
	&.FCT 
		&::before 
			content "\E051"
	&.FLO-alt 
		&::before 
			content "\E052"
	&.FLO 
		&::before 
			content "\E053"
	&.FRK-alt 
		&::before 
			content "\E054"
	&.FRK 
		&::before 
			content "\E055"
	&.FTC-alt 
		&::before 
			content "\E056"
	&.FTC 
		&::before 
			content "\E057"
	&.GAME-alt 
		&::before 
			content "\E058"
	&.GAME 
		&::before 
			content "\E059"
	&.GBYTE-alt 
		&::before 
			content "\E05A"
	&.GBYTE 
		&::before 
			content "\E05B"
	&.GDC-alt 
		&::before 
			content "\E05C"
	&.GDC 
		&::before 
			content "\E05D"
	&.GEMZ-alt 
		&::before 
			content "\E05E"
	&.GEMZ 
		&::before 
			content "\E05F"
	&.GLD-alt 
		&::before 
			content "\E060"
	&.GLD 
		&::before 
			content "\E061"
	&.GNO-alt 
		&::before 
			content "\E062"
	&.GNO 
		&::before 
			content "\E063"
	&.GNT-alt 
		&::before 
			content "\E064"
	&.GNT 
		&::before 
			content "\E065"
	&.GOLOS-alt 
		&::before 
			content "\E066"
	&.GOLOS 
		&::before 
			content "\E067"
	&.GRC-alt 
		&::before 
			content "\E068"
	&.GRC 
		&::before 
			content "\E069"
	&.GRS 
		&::before 
			content "\E06A"
	&.HEAT-alt 
		&::before 
			content "\E06B"
	&.HEAT 
		&::before 
			content "\E06C"
	&.ICN-alt 
		&::before 
			content "\E06D"
	&.ICN 
		&::before 
			content "\E06E"
	&.IFC-alt 
		&::before 
			content "\E06F"
	&.IFC 
		&::before 
			content "\E070"
	&.INCNT-alt 
		&::before 
			content "\E071"
	&.INCNT 
		&::before 
			content "\E072"
	&.IOC-alt 
		&::before 
			content "\E073"
	&.IOC 
		&::before 
			content "\E074"
	&.IOTA-alt 
		&::before 
			content "\E075"
	&.IOTA 
		&::before 
			content "\E076"
	&.JBS-alt 
		&::before 
			content "\E077"
	&.JBS 
		&::before 
			content "\E078"
	&.KMD-alt 
		&::before 
			content "\E079"
	&.KMD 
		&::before 
			content "\E07A"
	&.KOBO 
		&::before 
			content "\E07B"
	&.KORE-alt 
		&::before 
			content "\E07C"
	&.KORE 
		&::before 
			content "\E07D"
	&.LBC-alt 
		&::before 
			content "\E07E"
	&.LBC 
		&::before 
			content "\E07F"
	&.LDOGE-alt 
		&::before 
			content "\E080"
	&.LDOGE 
		&::before 
			content "\E081"
	&.LSK-alt 
		&::before 
			content "\E082"
	&.LSK 
		&::before 
			content "\E083"
	&.LTC-alt 
		&::before 
			content "\E084"
	&.LTC 
		&::before 
			content "\E085"
	&.MAID-alt 
		&::before 
			content "\E086"
	&.MAID 
		&::before 
			content "\E087"
	&.MCO-alt 
		&::before 
			content "\E088"
	&.MCO 
		&::before 
			content "\E089"
	&.MINT-alt 
		&::before 
			content "\E08A"
	&.MINT 
		&::before 
			content "\E08B"
	&.MONA-alt 
		&::before 
			content "\E08C"
	&.MONA 
		&::before 
			content "\E08D"
	&.MRC 
		&::before 
			content "\E08E"
	&.MSC-alt 
		&::before 
			content "\E08F"
	&.MSC 
		&::before 
			content "\E090"
	&.MTR-alt 
		&::before 
			content "\E091"
	&.MTR 
		&::before 
			content "\E092"
	&.MUE-alt 
		&::before 
			content "\E093"
	&.MUE 
		&::before 
			content "\E094"
	&.NBT 
		&::before 
			content "\E095"
	&.NEO-alt 
		&::before 
			content "\E096"
	&.NEO 
		&::before 
			content "\E097"
	&.NEOS-alt 
		&::before 
			content "\E098"
	&.NEOS 
		&::before 
			content "\E099"
	&.NEU-alt 
		&::before 
			content "\E09A"
	&.NEU 
		&::before 
			content "\E09B"
	&.NLG-alt 
		&::before 
			content "\E09C"
	&.NLG 
		&::before 
			content "\E09D"
	&.NMC-alt 
		&::before 
			content "\E09E"
	&.NMC 
		&::before 
			content "\E09F"
	&.NOTE-alt 
		&::before 
			content "\E0A0"
	&.NOTE 
		&::before 
			content "\E0A1"
	&.NVC-alt 
		&::before 
			content "\E0A2"
	&.NVC 
		&::before 
			content "\E0A3"
	&.NXT-alt 
		&::before 
			content "\E0A4"
	&.NXT 
		&::before 
			content "\E0A5"
	&.OK-alt 
		&::before 
			content "\E0A6"
	&.OK 
		&::before 
			content "\E0A7"
	&.OMG-alt 
		&::before 
			content "\E0A8"
	&.OMG 
		&::before 
			content "\E0A9"
	&.OMNI-alt 
		&::before 
			content "\E0AA"
	&.OMNI 
		&::before 
			content "\E0AB"
	&.OPAL-alt 
		&::before 
			content "\E0AC"
	&.OPAL 
		&::before 
			content "\E0AD"
	&.PART-alt 
		&::before 
			content "\E0AE"
	&.PART 
		&::before 
			content "\E0AF"
	&.PIGGY-alt 
		&::before 
			content "\E0B0"
	&.PIGGY 
		&::before 
			content "\E0B1"
	&.PINK-alt 
		&::before 
			content "\E0B2"
	&.PINK 
		&::before 
			content "\E0B3"
	&.PIVX-alt 
		&::before 
			content "\E0B4"
	&.PIVX 
		&::before 
			content "\E0B5"
	&.POT-alt 
		&::before 
			content "\E0B6"
	&.POT 
		&::before 
			content "\E0B7"
	&.PPC-alt 
		&::before 
			content "\E0B8"
	&.PPC 
		&::before 
			content "\E0B9"
	&.QRK-alt 
		&::before 
			content "\E0BA"
	&.QRK 
		&::before 
			content "\E0BB"
	&.QTUM-alt 
		&::before 
			content "\E0BC"
	&.QTUM 
		&::before 
			content "\E0BD"
	&.RADS-alt 
		&::before 
			content "\E0BE"
	&.RADS 
		&::before 
			content "\E0BF"
	&.RBIES-alt 
		&::before 
			content "\E0C0"
	&.RBIES 
		&::before 
			content "\E0C1"
	&.RBT-alt 
		&::before 
			content "\E0C2"
	&.RBT 
		&::before 
			content "\E0C3"
	&.RBY-alt 
		&::before 
			content "\E0C4"
	&.RBY 
		&::before 
			content "\E0C5"
	&.RDD-alt 
		&::before 
			content "\E0C6"
	&.RDD 
		&::before 
			content "\E0C7"
	&.REP-alt 
		&::before 
			content "\E0C8"
	&.REP 
		&::before 
			content "\E0C9"
	&.RISE-alt 
		&::before 
			content "\E0CA"
	&.RISE 
		&::before 
			content "\E0CB"
	&.SALT-alt 
		&::before 
			content "\E0CC"
	&.SALT 
		&::before 
			content "\E0CD"
	&.SAR-alt 
		&::before 
			content "\E0CE"
	&.SAR 
		&::before 
			content "\E0CF"
	&.SCOT-alt 
		&::before 
			content "\E0D0"
	&.SCOT 
		&::before 
			content "\E0D1"
	&.SDC-alt 
		&::before 
			content "\E0D2"
	&.SDC 
		&::before 
			content "\E0D3"
	&.SIA-alt 
		&::before 
			content "\E0D4"
	&.SIA 
		&::before 
			content "\E0D5"
	&.SJCX-alt 
		&::before 
			content "\E0D6"
	&.SJCX 
		&::before 
			content "\E0D7"
	&.SLG-alt 
		&::before 
			content "\E0D8"
	&.SLG 
		&::before 
			content "\E0D9"
	&.SLS-alt 
		&::before 
			content "\E0DA"
	&.SLS 
		&::before 
			content "\E0DB"
	&.SNRG-alt 
		&::before 
			content "\E0DC"
	&.SNRG 
		&::before 
			content "\E0DD"
	&.START-alt 
		&::before 
			content "\E0DE"
	&.START 
		&::before 
			content "\E0DF"
	&.STEEM-alt 
		&::before 
			content "\E0E0"
	&.STEEM 
		&::before 
			content "\E0E1"
	&.STR-alt 
		&::before 
			content "\E0E2"
	&.STR 
		&::before 
			content "\E0E3"
	&.STRAT-alt 
		&::before 
			content "\E0E4"
	&.STRAT 
		&::before 
			content "\E0E5"
	&.SWIFT-alt 
		&::before 
			content "\E0E6"
	&.SWIFT 
		&::before 
			content "\E0E7"
	&.SYNC-alt 
		&::before 
			content "\E0E8"
	&.SYNC 
		&::before 
			content "\E0E9"
	&.SYS-alt 
		&::before 
			content "\E0EA"
	&.SYS 
		&::before 
			content "\E0EB"
	&.TRIG-alt 
		&::before 
			content "\E0EC"
	&.TRIG 
		&::before 
			content "\E0ED"
	&.TX-alt 
		&::before 
			content "\E0EE"
	&.TX 
		&::before 
			content "\E0EF"
	&.UBQ-alt 
		&::before 
			content "\E0F0"
	&.UBQ 
		&::before 
			content "\E0F1"
	&.UNITY-alt 
		&::before 
			content "\E0F2"
	&.UNITY 
		&::before 
			content "\E0F3"
	&.USDT-alt 
		&::before 
			content "\E0F4"
	&.USDT 
		&::before 
			content "\E0F5"
	&.VIOR-alt 
		&::before 
			content "\E0F6"
	&.VIOR 
		&::before 
			content "\E0F7"
	&.VNL-alt 
		&::before 
			content "\E0F8"
	&.VNL 
		&::before 
			content "\E0F9"
	&.VPN-alt 
		&::before 
			content "\E0FA"
	&.VPN 
		&::before 
			content "\E0FB"
	&.VRC-alt 
		&::before 
			content "\E0FC"
	&.VRC 
		&::before 
			content "\E0FD"
	&.VTC-alt 
		&::before 
			content "\E0FE"
	&.VTC 
		&::before 
			content "\E0FF"
	&.WAVES-alt 
		&::before 
			content "\E100"
	&.WAVES 
		&::before 
			content "\E101"
	&.XAI-alt 
		&::before 
			content "\E102"
	&.XAI 
		&::before 
			content "\E103"
	&.XBS-alt 
		&::before 
			content "\E104"
	&.XBS 
		&::before 
			content "\E105"
	&.XCP-alt 
		&::before 
			content "\E106"
	&.XCP 
		&::before 
			content "\E107"
	&.XEM-alt 
		&::before 
			content "\E108"
	&.XEM 
		&::before 
			content "\E109"
	&.XMR 
		&::before 
			content "\E10A"
	&.XPM-alt 
		&::before 
			content "\E10B"
	&.XPM 
		&::before 
			content "\E10C"
	&.XRP-alt 
		&::before 
			content "\E10D"
	&.XRP 
		&::before 
			content "\E10E"
	&.XTZ-alt 
		&::before 
			content "\E10F"
	&.XTZ 
		&::before 
			content "\E110"
	&.XVG-alt 
		&::before 
			content "\E111"
	&.XVG 
		&::before 
			content "\E112"
	&.XZC-alt 
		&::before 
			content "\E113"
	&.XZC 
		&::before 
			content "\E114"
	&.YBC-alt 
		&::before 
			content "\E115"
	&.YBC 
		&::before 
			content "\E116"
	&.ZEC-alt 
		&::before 
			content "\E117"
	&.ZEC 
		&::before 
			content "\E118"
	&.ZEIT-alt 
		&::before 
			content "\E119"
	&.ZEIT 
		&::before 
			content "\E11A"
